@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --default-border: 2px solid black;
    --uniform-margin: 5px;
    --uniform-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    --uniform-border-radius: 10px;
    --color-change: 0.35s;
    --nav-bar-width: 125px;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    padding: calc(var(--uniform-margin) * 2);
    background-color: white;
    background-image: url("/img/lightMainTheme.png");
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification {
    position: absolute;
    top: -60px;
    margin: 0 auto;
    width: 300px;
    padding: 10px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    border-radius: 1000px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
    transition: transform 0.5s ease-in;
}

.notify {
    transform: translateY(75px);
}

#notification-icon {
    height: 30px;
    width: 30px;
    font-size: 18px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-notification {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: 0.2s ease-in-out;
}

#close-notification:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
}

.nav-bar {
    overflow: hidden;
    position: absolute;
    top: 25px;
    right: 25px;
    height: 50px;
    width: calc(var(--nav-bar-width) * 3);
    border: none;
    transform-origin: right;
}

.nav-bar-toggle-button {
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: var(--nav-bar-width);
    border: var(--default-border);
}

.nav-bar-options {
    background-color: white;
    position: absolute;
    top: 0;
    right: calc(var(--nav-bar-width) * -2);
    border: none;
    height: 50px;
    width: calc(var(--nav-bar-width) * 2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease-in;
}

.nav-bar-options div {
    background-color: white;
    border: var(--default-border);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-toggle-button:hover, .nav-bar-options div:hover {
    cursor: pointer;
}

/* translateX does not accept calc() for some reason... */
.nav-bar-opened {
    transform: translateX(-375px);
}

.popup-window {
    overflow: hidden;
    background-color: white;
    border-radius: var(--uniform-border-radius);
    text-align: center;
    position: absolute;
    width: 500px;
    padding: 20px;
    display: flex;
    transform: scale(0);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    pointer-events: none;
    z-index: 1004;
    transition: transform 0.1s ease-in;
}

.popup-window > * {
    width: 100%;
}

.save-theme-popup {
    height: 175px;
    width: 350px;
}

#delete-theme {
    border: 2px solid lightgrey;
    border-radius: var(--uniform-border-radius);
    padding: 15px;
}

#delete-theme-container {
    height: 75px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#rename-theme-input {
    padding: 10px;
    border: 2px solid lightgrey;
    border-radius: var(--uniform-border-radius);
}

.delete-color {
    height: 40px;
    width: 40px;
    border: var(--default-border);
    border-radius: var(--uniform-border-radius);
    background-color: white;
}

.prompt-selection {
    display: flex;
    justify-content: space-between;
}

.prompt-selection > button {
    border: none;
    background-color: darkgrey;
    font-size: 14px;
    border-radius: 1000px;
    padding: 10px;
    width: calc(50% - 10px);
    transition: 0.2s ease-in-out;
}

.cancel-button:hover {
    cursor: pointer;
    color: white;
    background-color: green;
}

.confirm-button:hover {
    cursor: pointer;
    color: white;
    background-color: red;
}

.menu-fade-background, .popup-fade-background {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: block;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: opacity 0.1s ease-in;
    pointer-events: none;
}

.popup-fade-background {
    backdrop-filter: blur(2px);
    z-index: 1003;
    pointer-events: none;
    transition: opacity 0.1s ease-in;
}

.popup-active {
    pointer-events: auto;
    opacity: 1;
    transform: scale(1);
}

.options-fade-background {
    z-index: 999;
    position: absolute;
    bottom: -100%;
    height: 100%;
    width: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.35);
    transition: 0.35s ease-in-out;
    pointer-events: none;
    transition: opacity 0.25s ease-in, transform 0.25s ease-in;
}

.options-active {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(-100%);
}

#menu-button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 32px;
    border-radius: calc(var(--uniform-border-radius) - 3px);
}

#menu-button, #close-menu-button, #save-button{
    color: black;
    text-align: center;
    background-color: lightgrey;
    border: none;
    transition: 0.2s ease-in-out;
}

#menu-button:hover, #close-menu-button:hover, #save-button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.saved-themes-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: -300px;
    height: 100%;
    width: 300px;
    padding: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    transition: transform 0.1s ease-in;
}

.saved-themes-container > div {
    width: 100%;
}

.menu-active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(300px);
    box-shadow: var(--uniform-shadow);
}

#menu-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#saved-themes-list {
    overflow: hidden;
    height: 60%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    flex-basis: 100%;
}

.saved-theme {
    overflow: none;
    position: relative;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: calc(var(--uniform-border-radius) - 3px);
    width: 100%;
    transition: 0.2s ease-in-out;
}

.saved-theme:hover {
    cursor: pointer;
}

.saved-theme-hover-background {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: calc(var(--uniform-border-radius) - 5px);
    position: absolute;
    opacity: 0;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    transition: opacity 0.125s ease-in;
}

.theme-name {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    text-align: center;
    font-weight: 650;
    font-size: 24px;
}

.theme-break {
    height: 1px;
    width: 85%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    margin: 0 auto;
}

.saved-color-container {
    padding: calc(var(--uniform-margin) * 2);
    border-top: none;
    display: flex;
    justify-content: space-evenly;
}

.saved-color {
    height: 25px;
    width: 25px;
    border: var(--default-border);
    border-radius: calc(var(--uniform-border-radius) - 5px);
    flex-shrink: 0;
}

#no-themes-found, #server-error {
    border: 2px dashed rgba(0, 0, 0, 0.75);
    border-radius: var(--uniform-border-radius);
    height: 250px;
    padding: var(--uniform-margin);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close-menu-button {
    flex-shrink: 0;
    height: 35px;
    width: 35px;
    border-radius: calc(var(--uniform-border-radius) - 4px);
    font-size: 24px;
}

#name-prompt {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: calc(var(--uniform-border-radius) - 7px);
}

#save-button {
    font-size: 18px;
    border-radius: calc(var(--uniform-border-radius) - 3px);
    padding: 5px;
    width: 50%;
}

#show-all-themes-button {
    font-size: 16px;
    border-radius: var(--uniform-border-radius);
    padding: 10px;
    width: 100%;
}

#save-button:hover {
    cursor: pointer;

}

.previous-button, .next-button {
    position: relative;
    overflow: hidden;
    margin: calc(var(--uniform-margin) * 4);
    height: 200px;
    width: 85px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--uniform-shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.previous-button {
    flex-direction: row-reverse;
}

.previous-button:hover {
    cursor: pointer;
    transform: translateX(-5px);
}

.next-button:hover {
    cursor: pointer;
    transform: translateX(5px);
}

.cooldown-meter {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.35);
    transform: scaleX(0);
    transition: 0.75s linear;
}

.prev-cooldown {
    transform-origin: left;
}

.next-cooldown {
    transform-origin: right;
}

.theme-cooldown-active {
    animation: theme-cooldown forwards 1 0.75s linear;
}

@keyframes theme-cooldown {
    from {
        transform: scaleX(1);
    } to {
        transform: scaleX(0);
    }
}

#preview-theme-header {
    width: 350px;
    position: absolute;
    translate: (-50%, -50%);
    top: -90px;
    left: calc(50% - 175px);
    border: none;
    border-radius: var(--uniform-border-radius);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#preview-theme-name {
    font-size: 28px;
    font-weight: 750;
}

#preview-mode-text {
    font-size: 12px;
}

#preview-options {
    position: absolute;
    bottom: -110px;
    left: calc(50% - calc(100% / 2));
    border: var(--default-border);
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#edit-options {
    position: absolute;
    height: 15%;
    width: 100%;
    left: 0;
    bottom: -30px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#edit-options > button {
    position: relative;
    border: none;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
    border-radius: var(--uniform-border-radius);
    color: white;
    font-size: 18px;
    width: 125px;
    padding: 5px;
    display: none;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 10px;
    transition: transform 0.2s ease-in;
}

#edit-options > button:hover {
    cursor: pointer;
    transform: translateY(30px);
}

#favorite-button {
    background-color: #ffc800;
}

#rename-button {
    background-color: green;
}

#delete-button {
    background-color: red;
}

#preview-button {
    text-align: center;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: calc(50% - 21px);
    right: 15px;
    bottom: -100px;
    height: 30px;
    width: 30px;
    padding: 20px;
    color: rgba(0, 0, 0, 0.7);
    font-size: 24px;
    font-weight: 700;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

#preview-button > i {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preview-button:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.75);
}

#prev-bg-colors, #next-bg-colors {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.next-color, .prev-color {
    border: 2px solid black;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    transition: background-color var(--color-change) ease-in;
}

#prev-arrow, #next-arrow {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    position: relative;
    padding: var(--uniform-margin);
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(100px);
    border-radius: var(--uniform-border-radius);
    box-shadow: var(--uniform-shadow);
    height: calc(650px + var(--uniform-margin));
    width: calc(800px + var(--uniform-margin));
    align-self: center;
    display: flex;
    align-items: center;
    z-index: initial;
}

#color-theme {
    position: relative;
    border: none;
    padding: var(--uniform-margin);
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}

#pane {
    padding: var(--uniform-margin);
    border: none;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    padding: var(--uniform-margin);
    border: none;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.copy-theme-background {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    font-size: 48px;
    color: rgba(255, 255, 255, 0.75);
    background-color: rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: opacity 0.175s ease-in;
}

.copy-theme-background h1 {
    font-size: 18px;
}

.pane-entry, .list-entry {
    transition: background-color var(--color-change) ease-in;
}

.pane-entry {
    overflow: hidden;
    position: relative;
    padding: var(--uniform-margin);
    border: none;
    border-radius: var(--uniform-border-radius);
    height: 100%;
    width: calc(100% - var(--uniform-margin));
}

.list-entry {
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: var(--uniform-border-radius);
    height: calc(33% - var(--uniform-margin));
    width: calc(100% - var(--uniform-margin));
}

.pane-entry:hover, .list-entry:hover {
    cursor: pointer;
}

#info-container {
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#info-container > div {
    border: none;
    width: 100%;
}

#color-text-container {
    flex-basis: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#color-values-text {
    margin: calc(var(--uniform-margin) * 2) 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

#color-selector {
    flex-basis: 85%;
    border: var(--default-border);
    padding: calc(var(--uniform-margin) * 2);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

#socials {
    flex-basis: 30%;
    padding: var(--uniform-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.social-icon {
    border: var(--default-border);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: black;
    font-size: 36px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.social-entry {
    padding: var(--uniform-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.username {
    font-size: 12px;
}

#customization-menu {
    position: absolute;
    margin: auto 0;
    bottom: 0;
    height: 15%;
    width: 125%;
    border: none;
    box-shadow: inset 0 -25px 30px rgba(0, 0, 0, 0.35);
    display: flex;
    justify-content: center;
    transform-origin: bottom;
}

#status-arrow {
    border: none;
    background-color: transparent;
    font-size: 12px;
    color: white;
    text-shadow: 0 0 10px black;
    transition: transform 0.2s ease-in;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#status-arrow i {
    font-size: 75px;
}

#status-arrow:hover {
    cursor: pointer;
    transform: translateY(-10px);
}

.customization-options {
    border: none;
    height: 10%;
    width: 25%;
    position: absolute;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transform: scale(0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1002;
    pointer-events: none;
    transition: 0.1s ease-in;
}

.custom-options-active {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1) translateY(-75px)
}

.custom-option, .cancel-option {
    height: 75px;
    width: 75px;
    font-size: 28px;
    border-radius: 1000px;
    background-color: white;
    box-shadow: var(--uniform-border-radius);
    border: none;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: 0.2s ease-in;
}

.custom-option {
    position: relative;
    bottom: -10px;
}

.cancel-option {
    position: relative;
    bottom: 25px;
    font-weight: 700;
    gap: 15px;
    background-color: red;
    color: white;
}

.custom-option:hover, .cancel-option:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    transform: translateY(-5px);
}

.cancel-option:hover {
    color: white;
    background-color: darkred;
}

.hover-description {
    text-align: center;
    font-weight: 700;
    position: absolute;
    margin: auto;
    height: 50px;
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: var(--uniform-border-radius);
    box-shadow: var(--uniform-shadow);
    background-color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
    transition: opacity 0.2s ease-in;
    pointer-events: none;
}

.hover-active {
    opacity: 1;
}

@media (max-width: 1049px) {
    body {
        flex-direction: column;
    }

    .previous-button, .next-button {
        margin: calc(var(--uniform-margin) * 3);
        height: 65px;
        width: 150px;
        flex-direction: column;
    }

    .previous-button {
        flex-direction: column-reverse;
    }

    .previous-button:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }
    
    .next-button:hover {
        cursor: pointer;
        transform: translateY(5px);
    }

    .prev-cooldown {
        transform-origin: top;
    }
    
    .next-cooldown {
        transform-origin: bottom;
    }

    @keyframes theme-cooldown {
        from {
            transform: scaleY(1);
        } to {
            transform: scaleY(0);
        }
    }

    #prev-bg-colors, #next-bg-colors {
        height: 50%;
        width: 100%;
    }

    #prev-arrow, #next-arrow {
        height: 50%;
        width: 100%;
    }

    #prev-bg-colors, #next-bg-colors {
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    .theme-cooldown-active {
        transform: scaleY(1);
    }

    #preview-theme-header {
        top: -85px;
    }

    #preview-button {
        bottom: -65px;
    }

    #container {
        width: 650px;
        height: 700px;
        flex-direction: column;
    }

    #color-theme {
        height: 50%;
        width: 100%;
        flex-direction: column;
    }

    #pane {
        height: 100%;
        width: 100%;
    }

    .pane-entry {
        height: 100%;
        width: 100%;
    }

    #list {
        width: 100%;
        flex-direction: row;
    }

    .list-entry {
        height: 100%;
        width: calc(33% - var(--uniform-margin));
    }

    #info-container {
        height: 50%;
        width: 100%;
    }

    #color-selector {
        height: 50%;
        flex-basis: 50%;
        flex-direction: row;
    }

    .color-entry {
        height: calc(50% - calc(var(--uniform-margin) * 2));
        width: calc(50% - calc(var(--uniform-margin) * 2));
    }

    #color-text-container {
        height: 67%;
        justify-content: space-between;
    }

    #color-values-text {
        flex-basis: 25%;
    }

    #color-selector {
        flex-basis: 75%;
    }

    #socials {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        height: 33%;
    }

    .social-icon {
        height: 75px;
        width: 75px;
        font-size: 48px;
    }

    .username {
        display: none;
    }

    #customization-menu {
        right: 0;
        top: 0;
        height: 125%;
        width: 10%;
        flex-direction: column;
        box-shadow: inset -25px 0 25px rgba(0, 0, 0, 0.35);
        transform-origin: right;
    }
    
    #status-arrow:hover {
        transform: translateX(-10px);
    }

    .options-fade-background {
        bottom: auto;
        right: -100%;
    }

    .options-active {
        transform: translateX(-100%);
    }

    .custom-option {
        bottom: auto;
        right: -10px;
    }

    .cancel-option {
        bottom: auto;
        right: 25px;
    }

    .customization-options {
        height: 50%;
        width: 10%;
        top: 0;
        right: 0;
        flex-direction: column;
        transform-origin: right;
    }

    .custom-options-active {
        transform: scale(1) translateX(-75px)
    }

    .custom-option:hover, #cancel-option:hover {
        transform: translateX(-5px);
    }
}
