@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --default-border: 2px solid black;
    --uniform-margin: 5px;
    --uniform-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
    --uniform-border-radius: 10px;
}

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100vh;
    padding: calc(var(--uniform-margin) * 2);
    background-color: white;
    /* background-image: linear-gradient(to top right, #7d02ee, #00d4ff); */
    display: flex;
    justify-content: center;
    align-items: center;
}

#fade-out-background {
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: none;
    background-color: rgba(0, 0, 0, 0.35);
}

#menu-button {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 32px;
    border-radius: calc(var(--uniform-border-radius) - 3px);
}

#menu-button, #close-menu-button, #save-button, #refresh-button, #show-all-themes-button {
    color: black;
    text-align: center;
    background-color: lightgrey;
    border: none;
    transition: 0.2s ease-in-out;
}

#menu-button:hover, #close-menu-button:hover, #refresh-button:hover, #show-all-themes-button:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

#saved-themes-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 25px;
    background-color: white;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    box-shadow: var(--uniform-shadow);
}

#saved-themes-container > div {
    width: 100%;
}

#menu-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 10px;
    align-items: center;
}

#refresh-button {
    width: 75%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#save-box {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    box-shadow: var(--uniform-shadow);
    border-radius: calc(var(--uniform-border-radius) - 3px);
}

#saved-themes-list {
    overflow: hidden;
    height: 60%;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.saved-theme {
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-radius: calc(var(--uniform-border-radius) - 3px);
    width: 100%;
}

.theme-name {
    font-family: "Montserrat", sans-serif;
    padding: 5px;
    text-align: center;
    font-weight: 650;
    font-size: 24px;
}

.theme-break {
    height: 1px;
    width: 85%;
    border: 1px solid rgba(0, 0, 0, 0.35);
    margin: 0 auto;
}

.saved-color-container {
    padding: calc(var(--uniform-margin) * 2);
    border-top: none;
    display: flex;
    justify-content: space-evenly;
}

.saved-color {
    height: 25px;
    width: 25px;
    border: 2px solid black;
    border-radius: calc(var(--uniform-border-radius) - 5px);
    flex-shrink: 0;
    transition: transform 0.2s ease-in-out;
}

.saved-color:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

#no-themes-found {
    border: 2px dashed rgba(0, 0, 0, 0.75);
    border-radius: var(--uniform-border-radius);
    height: 250px;
    padding: var(--uniform-margin);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#close-menu-button {
    flex-shrink: 0;
    height: 35px;
    width: 35px;
    border-radius: calc(var(--uniform-border-radius) - 4px);
    font-size: 24px;
}

#name-prompt {
    width: 85%;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: calc(var(--uniform-border-radius) - 7px);
}

#save-button {
    font-size: 18px;
    border-radius: calc(var(--uniform-border-radius) - 3px);
    padding: 5px;
    width: 50%;
}

#refresh-button, #show-all-themes-button {
    font-size: 16px;
    border-radius: var(--uniform-border-radius);
    padding: 10px;
    width: 100%;
}

#save-button:hover, #refresh-button:hover {
    cursor: pointer;

}

#previous-button, #next-button {
    margin: calc(var(--uniform-margin) * 3);
    height: 200px;
    width: 85px;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--uniform-shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

#previous-button {
    flex-direction: row-reverse;
}

#previous-button:hover {
    cursor: pointer;
    transform: translateX(-5px);
}

#next-button:hover {
    cursor: pointer;
    transform: translateX(5px);
}

#prev-bg-colors, #next-bg-colors {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.next-color, .prev-color {
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: var(--uniform-shadow); */
    height: 25px;
    width: 25px;
}

#prev-arrow, #next-arrow {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    overflow: auto;
    padding: var(--uniform-margin);
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(100px);
    border-radius: var(--uniform-border-radius);
    box-shadow: var(--uniform-shadow);
    height: calc(650px + var(--uniform-margin));
    width: calc(800px + var(--uniform-margin));
    display: flex;
    align-items: center;
}

#color-theme {
    border: none;
    padding: var(--uniform-margin);
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: row;
}

#pane {
    padding: var(--uniform-margin);
    border: none;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#list {
    padding: var(--uniform-margin);
    border: none;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pane-entry {
    padding: var(--uniform-margin);
    border: none;
    border-radius: var(--uniform-border-radius);
    height: 100%;
    width: calc(100% - var(--uniform-margin));
}

.list-entry {
    border-radius: var(--uniform-border-radius);
    height: calc(33% - var(--uniform-margin));
    width: calc(100% - var(--uniform-margin));
}

#info-container {
    height: 95%;
    width: 30%;
    display: flex;
    flex-direction: column;
}

#info-container > div {
    border: none;
    width: 100%;
}

#color-text-container {
    flex-basis: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#color-values-text {
    margin: calc(var(--uniform-margin) * 2) 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

#color-selector {
    flex-basis: 85%;
    padding: calc(var(--uniform-margin) * 2);
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color-entry {
    font-weight: 750;
    border: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: var(--uniform-shadow);
    padding: calc(var(--uniform-margin) * 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.background {
    border: 2px solid black;
    border-radius: 5px;
    /* box-shadow: var(--uniform-shadow); */
    height: 25px;
    width: 25px;
}

.copy {
    border: none;
    color: black;
    background-color: darkgrey;
    border-radius: 3px;
    padding: 10px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.copy:hover {
    cursor: pointer;
    color: white;
    background-color: black;
}

#socials {
    flex-basis: 30%;
    padding: var(--uniform-margin);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

.social-icon {
    border: var(--default-border);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    color: black;
    font-size: 36px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

.social-entry {
    padding: var(--uniform-margin);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.username {
    font-size: 12px;
}



@media (max-width: 1049px) {
    body {
        flex-direction: column;
    }

    #previous-button, #next-button {
        margin: calc(var(--uniform-margin) * 3);
        height: 65px;
        width: 150px;
        flex-direction: column;
    }

    #previous-button {
        flex-direction: column-reverse;
    }

    #previous-button:hover {
        cursor: pointer;
        transform: translateY(-5px);
    }
    
    #next-button:hover {
        cursor: pointer;
        transform: translateY(5px);
    }

    #prev-bg-colors, #next-bg-colors {
        height: 50%;
        width: 100%;
    }

    #prev-arrow, #next-arrow {
        height: 50%;
        width: 100%;
    }

    #prev-bg-colors, #next-bg-colors {
        height: 100%;
        width: 100%;
        flex-direction: row;
    }

    #container {
        width: 650px;
        height: 700px;
        flex-direction: column;
    }

    #color-theme {
        height: 50%;
        width: 100%;
        flex-direction: column;
    }

    #pane {
        height: 100%;
        width: 100%;
    }

    .pane-entry {
        height: 100%;
        width: 100%;
    }

    #list {
        width: 100%;
        flex-direction: row;
    }

    .list-entry {
        height: 100%;
        width: calc(33% - var(--uniform-margin));
    }

    #info-container {
        height: 50%;
        width: 100%;
    }

    #color-selector {
        height: 50%;
        flex-basis: 50%;
        flex-direction: row;
    }

    .color-entry {
        height: calc(50% - calc(var(--uniform-margin) * 2));
        width: calc(50% - calc(var(--uniform-margin) * 2));
    }

    #color-text-container {
        height: 67%;
        justify-content: space-between;
    }

    #color-values-text {
        flex-basis: 25%;
    }

    #color-selector {
        flex-basis: 75%;
    }

    #socials {
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        height: 33%;
    }

    .social-icon {
        height: 75px;
        width: 75px;
        font-size: 48px;
    }

    .username {
        display: none;
    }
}

