<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theme Randomizer</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
  </head>

  <body>
    <div id="fade-out-background"></div>
    
    <button id="previous-button">
      <!-- To be implemented by JavaScript -->  
      <div id="prev-bg-colors"></div>
      
      <div id="prev-arrow"></div>
    </button>

    
    <!-- <h1 style="position: absolute; top: 5px">Current Width: <span id="screen-width-text"></span></h1> -->
    <div id="container">
      <div id="color-theme">
        <div id="pane">
          <div class="pane-entry">
          </div>
        </div>
  
        <div id="list">
          <div class="list-entry"></div>
          <div class="list-entry"></div>
          <div class="list-entry"></div>
        </div>
      </div>
      
      <div id="info-container">
        <div id="color-text-container">
          <h1 id="color-values-text">Color Values</h1>
          
          <div id="color-selector">
            <!-- To be implemented by JavaScript -->
          </div>
        </div>

        <div id="socials">
          <div class="social-entry">
            <a href="https://mail.google.com" class="social-icon" target="_blank"><i class="fa-brands fa-google"></i></a>
            <h1 class="username"><i>stapp425@gmail.com</i></h1>
          </div>
          
          <div class="social-entry">
            <a href="https://github.com/stapp425" class="social-icon" target="_blank"><i class="fa-brands fa-github"></i></a>
            <h1 class="username"><i>stapp425</i></h1>
          </div>
          
          <div class="social-entry">
            <a href="https://www.linkedin.com/in/shawn-tapp-38a5582a2/" class="social-icon" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <h1 class="username"><i>Shawn Tapp</i></h1>
          </div>
        </div>
      </div>
    </div>

    <button id="next-button">
      <!-- To be implemented by JavaScript -->
      <div id="next-bg-colors"></div>
      
      <div id="next-arrow"></div>
    </button>
    
    <button id="menu-button">
      <i class="fa-solid fa-bars"></i>
    </button>      
    
    <div id="saved-themes-container">
      <div id="menu-header">
        <button id="close-menu-button">
          <i class="fa-solid fa-bars"></i>
        </button>
        <h1 style="font-size: 24px">Saved Themes</h1>
      </div>           

      <div id="save-box">
        <h1 style="font-size: 24px">Save Theme</h1>
        <input type="text" id="name-prompt" placeholder="Enter Theme Name...">
        <button id="save-button">
          <span>Save!</span>
        </button>
      </div>

      <button id="refresh-button">
        <i class="fa-solid fa-rotate-right"></i>
        <span>Refresh</span>
      </button>

      <hr style="height: 1px; width: 100%; border: 1px dashed rgba(0, 0, 0, 0.5)">

      <div id="saved-themes-list">
        
        <!-- To be implemented by JavaScript -->
        <!-- <div class="saved-theme">
          <div class="theme-name"></div>
          <div class="saved-color-container">
            <button class="saved-color"></button>
            <button class="saved-color"></button>
            <button class="saved-color"></button>
            <button class="saved-color"></button>
          </div>
        </div> -->
      </div>      

      <button id="show-all-themes-button">
        <span>Show All Themes</span>
      </button>
    </div>    
    
    <script src="/scripts/script.js"></script>
  </body>
</html>